
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
		<property name="username" value="postgres" />
		<property name="password" value="root" />
	</bean>

<!-- Hibernate 3 XML SessionFactory Bean definition-->
<!-- 	<bean id="hibernate3SessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>person.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
			</value>
		</property>
	</bean> -->

<!-- Hibernate 3 Annotation SessionFactory Bean definition-->
	<bean id="hibernate3AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>project.java.Entities.EmployeesEntity</value>
				<value>project.java.Entities.ProjectsEntity</value>
				<value>project.java.Entities.UsersEntity</value>
				<value>project.java.Entities.WorkersEntity</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>
	
	<bean id="employeeDAO" class="project.java.DAOImpl.EmployeeDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>

	<bean id="userDAO" class="project.java.DAOImpl.UserDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>

	<bean id="projectDAO" class="project.java.DAOImpl.ProjectDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>

	<bean id="workerDAO" class="project.java.DAOImpl.WorkerDAOImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>

	<bean id="employeeService" class="project.java.services.EmployeeService">
		<property name="inputFolder" value="C:\Projects\formare-net-tehnologies\src\main\resources\csv\input"/>
		<property name="doneFolder" value="C:\Projects\formare-net-tehnologies\src\main\resources\csv\input\done"/>
		<property name="employeeDAO" ref="employeeDAO"/>
		<property name="userDAO" ref="userDAO"/>
	</bean>

	<bean id="projectService" class="project.java.services.ProjectService">
		<property name="inputFolder" value="C:\Projects\formare-net-tehnologies\src\main\resources\xml\input"/>
		<property name="doneFolder" value="C:\Projects\formare-net-tehnologies\src\main\resources\xml\input\done\"/>
		<property name="projectDAO" ref="projectDAO"/>
		<property name="workerDAO" ref="workerDAO"/>
		<property name="employeeDAO" ref="employeeDAO"/>
		<property name="userDAO" ref="userDAO"/>
	</bean>

	<bean id="globalService" class="project.java.services.GlobalService">
		<property name="projectDAO" ref="projectDAO"/>
		<property name="workerDAO" ref="workerDAO"/>
	</bean>

</beans>
